<h1>Batch#index</h1>
<p>Processing Date: <%= @processing_date %></p>

<table border="1" id="box-table-a">
  <tbody>

    <% @files.each { |datum| %>
    <tr> <td><%= link_to 'import '+datum, 'import?year='+datum %></td> </tr>
    <% } %>
    <tr> <td><%= link_to 'match', 'match' %></td> </tr>
    <tr> <td><%= link_to 'truncate', 'trunc' %></td> </tr>
    <tr> <td><%= link_to 'TXF', '/roundtrips.json?special=schedule_D' %></td> </tr>
    <tr> <td><%= link_to 'IRS 1040 Schedule D', '/roundtrips?special=schedule_D' %><img src="/images/1040.jpg" width="200" height="100"></img></td> </tr>
  </tbody>
</table>
