<h1>Portfolio</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Ameritradeid</th>
    <th>Symbol</th>
    <th>Position</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Amount</th>
    <th>Action</th>
    <th>State</th>
  </tr>

<% @portfolio.each do |position| %>
  <tr>
    <td><%= position.id %></td>
    <td><%= position.ameritradeid %></td>
    <td><%= position.symbol %></td>
    <td><%= position.position %></td>
    <td><%= position.date %></td>
    <td><%= position.unmatched_qty %></td>
    <td><%= position.unmatched_amount %></td>
    <td><%= position.action %></td>
    <td><%= position.state %></td>
  </tr>
<% end %>
</table>
