<h2>Portfolio</h2>

<h3>Aggregate postions</h3>
<table>
  <tr>
    <th>Symbol</th>
    <th>Position</th>
    <th>Qty</th>
    <th>Amount</th>
  </tr>
<% @balance.each { |symbol,pos| 
     pos.each { |position, val|
       if val[:tot_qty] > 0.00001
%>
  <tr>
    <td><%= symbol %></td>
    <td><%= position %></td>
    <td><%= val[:tot_qty] %></td>
    <td><%= val[:tot_cost] %></td>
  </tr>
<%
       end
     }
  }
%>
</table>
<hr></hr>
<h3>Individal unmatched open trades</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Ameritradeid</th>
    <th>Symbol</th>
    <th>Position</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Amount</th>
    <th>Action</th>
    <th>State</th>
  </tr>

<% @portfolio.each do |position| %>
  <tr>
    <td><%= position.id %></td>
    <td><%= position.ameritradeid %></td>
    <td><%= position.symbol %></td>
    <td><%= position.position %></td>
    <td><%= position.date %></td>
    <td><%= position.unmatched_qty %></td>
    <td><%= position.unmatched_amount %></td>
    <td><%= position.action %></td>
    <td><%= position.state %></td>
  </tr>
<% end %>
</table>
