<h1>Listing roundtrips</h1>

<table>
  <tr>
    <th>Open</th>
    <th>Close</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roundtrips.each do |roundtrip| %>
  <tr>
    <td><%= roundtrip.open_id %></td>
    <td><%= roundtrip.close_id %></td>
    <td><%= link_to 'Show', roundtrip %></td>
    <td><%= link_to 'Edit', edit_roundtrip_path(roundtrip) %></td>
    <td><%= link_to 'Destroy', roundtrip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Roundtrip', new_roundtrip_path %>
