<h1>Roundtrip trades</h1>
<img src="images/profit-and-loss.jpg" width="100" height="50"></img>
<table>
  <tr>
    <th>symbol</th>
    <th>qty</th>
    <th>profit</th>
    <th>position:long or short?</th>
    <th>tax code</th>
    <th>long term?</th>
    <th>wash?</th>
    <th>Open date</th>
    <th>cost basis</th>
    <th>Close date</th>
    <th>sale amt</th>
    <th>Open ID</th>
    <th>Close ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roundtrips.each do |roundtrip| %>
  <tr>
    <td><%= roundtrip.open.trade.symbol %></td>
    <td><%= roundtrip.open.qty %></td>
    <td><%= number_to_currency( roundtrip.profit , :negative_format => "(%u%n)") %></td>
    <td><%= roundtrip.open.trade.position %></td>
    <td> <%= roundtrip.tax_code %></td>
    <td><%= roundtrip.long_term? %>
        <%= roundtrip.term %></td>
    <td><%= roundtrip.wash? %></td>
    <td><%= roundtrip.open.trade.date %></td>
    <td><%= number_to_currency(roundtrip.open.trade.amount) %></td>
    <td><%= roundtrip.close.trade.date %></td>
    <td><%= number_to_currency(roundtrip.close.trade.amount) %></td>
    <td><%= roundtrip.close.trade.ameritradeid %></td>
    <td><%= roundtrip.open.trade.ameritradeid %></td>
    <td><%= link_to 'Show', roundtrip %></td>
    <td><%= link_to 'Edit', edit_roundtrip_path(roundtrip) %></td>
    <td><%= link_to 'Destroy', roundtrip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Roundtrip', new_roundtrip_path %>
