<p id="notice"><%= notice %></p>

<p>
  <b>Ameritradeid:</b>
  <%= @trade.ameritradeid %>
</p>

<p>
  <b>Symbol:</b>
  <%= @trade.symbol %>
</p>

<p>
  <b>Date:</b>
  <%= @trade.date %>
</p>

<p>
  <b>Qty:</b>
  <%= @trade.qty %>
</p>

<p>
  <b>Amount:</b>
  <%= @trade.amount %>
</p>

<p>
  <b>Action:</b>
  <%= @trade.action %>
</p>

<p>
  <b>State:</b>
  <%= @trade.state %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
