<!DOCTYPE html>
<html>
<head>
  <title>Folio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<img src="/images/investment-portfolio.jpg" width="800" height="100"></img>
<h1>Portfolio manager</h1>
<hr></hr>
<%= link_to 'home', '/' %> <%= link_to 'batch jobs', '/batch/index' %>
<hr></hr>
<%= yield %>
<hr></hr>
<img src="/images/minime.png" width="40" height="40" align="top"></img>
<img src="/images/logarithms.png" width="200" height="100"></img>
<img src="/images/rails.png" width="40" height="40" align="top"></img>

</body>
</html>
